<VirtualHost laravel.local:80>
    DocumentRoot "D:\xampp\My_App\public"
    <Directory "D:\xampp\My_App\public">
        Options All
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>